<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/{{style}}">
    <title>{{title}}</title>
</head>
<body>
        <header>
            <div class = "headericon"><a href="/"><img src="/img/amazonlogo.png" width = "100%"alt="nav icon"></a></div>
        <nav>
            <ul>
                <li><a href="/">MainHome</a></li>
                <li><a href="/product">Product list</a></li>
                <li><a href="/registration">Create account</a></li>
                <li><a href="/login">Sign-in</a></li>
            </ul>
        </nav>
         </header>
        <main>
            {{{body}}}
        </main>
        <footer>
            Created by YoungA Lee 
        </footer>     
</body>
</html>